.education {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 0;
    list-style: none;
}

.education li {
    margin-bottom: .5rem;
}

.education h3 {
    margin-bottom: 0rem;
}

.education .period  {
    font-size: 1rem;
}

.education li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0rem;
}

.education li .period::before {
    content: '';
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../imgs/icons/calendar.svg');
    margin-right: .5rem;
}